{% extends 'base.html.twig' %}

{% block title %}MAL - Panel{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/splide.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/splide.min.js') }}"></script>
    <script src="{{ asset('js/index.js') }}"></script>
{% endblock %}

{% block headerTitle %}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        My Panel
    {% else %}
        Welcome to MAL
    {% endif %}
{% endblock %}

{% block headerLink %}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <a href="#" class="link"><img src="{{ asset('images/icons/cog.svg') }}" alt="cog-icon">Panel Settings</a>
    {% endif %}
{% endblock %}

{% block content %}
    <div id="content-container">
        <div id="content-left">
            <div class="info">
                <div class="title">{{ current_season }} Anime<a class="link" href="{{ path('season', { season: current_season }) }}">View More</a></div>
                <div class="info-content">
                    <div class="splide">
                        <div class="splide__track">
                            <ul class="splide__list">
                                {% for anime in current_season_animes %}
                                    <li class="splide__slide">
                                        <div class="slide_anime">
                                            <div class="slide_cover"><img src="{{ asset('images/anime_covers/'~anime.cover) }}" alt="anime_cover"></div>
                                            <a href="{{ path('anime', { id: anime.id }) }}" class="slide_title"><span>{{ anime.title }}</span></a>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}